<div class="home-wrapper">
    <div class="left-pan">
        <div class="container">
            <div class="text">
                BUSSINESS
                <span class="subtext">STRATEGY</span>
            </div>
            <div class="subtext">
                Lorem ipsum is placeholder text commonly used in the graphic,
                print, and publishing industries for previewing layouts
                and visual mockups.
            </div>
            <div class="button">GET STARTED</div>
        </div>
    </div>
    <div class="right-pan">
        <img
            src='../../../assets/SVG/Landing.svg'
            class="img"
        >
    </div>
</div>
