<div class="login-wrapper">
    <div class="login-box">
        <span class="login-text">
            Register Here
            <div class="line"></div>
        </span>
        <form>
            <input
                class="form-control"
                type="text"
                placeholder="Email Or Username"
            >
            <input
                class="form-control"
                type="password"
                placeholder="Password"
            >
            <div class="forget">Forget Password</div>
            <div class="button">LOGIN</div>
        </form>
    </div>

</div>
