.active{
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.2,1.2);
  border-radius: 5px;
}
.nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    padding-top: 10px;
    left: 0;
    top: 0;
    right: 0;
    .nav-bar{
        margin: 5px 5px 5px 5px;
        flex-direction: row;
        display: flex;
        flex: 1;
        justify-content: flex-end;
        .nav-item{
            padding: 5px 15px 5px 15px;
            margin: 5px 20px 5px 10px;
            color: #00000095;
            font-size: 1vw;
            cursor: pointer;
            transition-property: all;
            -moz-transition-timing-function: linear;
            transition-timing-function: linear;
            transition-duration: 0.3s;
            &:hover{
                color: #292727;
            }
        }
    }
    .logo{
        width: 10%;
    }
}