<div class="pan">
    <div class="left-pan">
        <div class="circle">
            <div class="circle-text">
                Porem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </div>
        </div>
    </div>
    <div class="right-pan">
        <div class="login-box">
            <span class="login-text">
                Login Here
                <div class="line"></div>
            </span>
            <form>
                <input
                    class="form-control"
                    type="text"
                    placeholder="Email Or Username"
                >
                <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                >
                <div class="forget">Forget Password</div>
                <div class="button">LOGIN</div>
            </form>
        </div>
    </div>
</div>
